<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>

    <% for( let person of results ) { %>
    <a href=<%= `/admin/${person._id}` %>><%=`${person.name}`  %> </a> </br>
    <% } %>
    
</body>
</html>