<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="\js\asd\bootstrap.min.css">
    <link rel="stylesheet" href="\js\asd\style.css">
    <script src="\js\asd\bootstrap.min.js"></script>
</head>
<body>
    
  <%-include('adminnav.ejs')%><br>
<div class="container">
      <form class="row pl-0" method="post" action="/admins/all/search">
        <div class="col-2"></div>
        <div class="col-6">
          
          <input type="text" class="form-control" id="search" name="search" placeholder="Type something">
        </div>
        <div class="col-2">
          <button type="submit" class="btn btn-primary ">Search</button>
        </div>
      </form>
    </div><br>
<div class="container">
  
    <% for( let person of results ) { %>
      <div class="row"><a class="btn btn-primary" href=<%= `/admin/${person._id}` %>><%=`${person.name}`  %> </a></div><br>
    <% } %>
   
</div>
</body>
</html>


