<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="\js\asd\bootstrap.min.css">
    <link rel="stylesheet" href="\js\asd\style.css">
    <script src="\js\asd\bootstrap.min.js"></script>
</head>
<body>

    <% let date=new Date()%>
    <h1 class="heading-1 text-center">LOGIN</h1>
    <div class="container">
        <div class="row">
        <div class="col-4"></div>
            <div class="col-4 text-center">
                <form action="/login"method="post">
                    <label for="name">Full name:</label><br>
                    <input  class="form-control" type='text' name='name' id="name" placeholder='Full name' required><br>

                    <label for="email">E-mail:</label><br>
                    <input class="form-control" type='email' name='email' id="email" placeholder='email' required><br>

                    <label for="birth">Birth date:</label><br>
                    <input class="form-control" max=<%=`${date.getFullYear()}-${date.getMonth()+1}-${date.getDate()}`%>  type='date' name='birth' id="birth" required><br></br>

                    <button class="btn btn-primary">Login</button><br><br>  <a class="btn btn-warning" href="/register">Register</a>
                </form>
                
            </div>

        </div>
    </div>

    <script src="/js/asd/front.js"></script>
</body>
</html>





